.mid{
    display: block;
    margin-left: 470px;
   
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 100px; */
}

.edit{
    margin-right:50px;
}
.icon{
    display: flex;
}

@media only screen and (max-width:480px){
    .icon{
        display: flex;
        flex-direction: row;
        width: 20px;
    }
    .edit{
        margin-left: 0;
    }
    .mid{
        margin-left: 0px;
    }
    .size{
        width: 150px;
    }
    .back-btn{
        margin-left: 180px;
    }
}