.mid{

    margin-left: auto;
    margin-right: auto;
   
}

.edit{
    margin-right:50px;
}
.icon{
    display: flex;
}

@media  screen and (max-width:576px){
    .icon{
        display: flex;
        flex-direction: row;
        width: 20px;
    }
    .edit{
        margin-left: 0;
    }
    .mid{
        margin-left: 0px;
        margin-right: 0;
        padding-right: 0;
        width: 30%;
    }
    .icon{
        padding-right: 0;
    }
    .size{
        width: 150px;
    
    }
    .back-btn{
        margin-left: 180px;
    }
}